@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: auto;
  // padding
  @include tablet {
    width: 100%;
  }
  @include desktop {
    width: 100%;
  }
}
.brand_logo {
  width: 250px;
}
// @media screen and (min-width: 768px) and (max-width: 1024px)
.navigation-header {
  background-color: $graphite;
  display: flex;
  width: 100%;
  border-bottom: 0.5px solid $teluspurple;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.14rem;
  padding-top: $mobile-margin;
  height: 9.375rem;

  @include tablet {
    flex-direction: row;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    bottom: 0rem;
    height: 11.875rem;
  }
  @include desktop {
    padding-left: 5rem;
    padding-right: 5rem;
    height: 7.875rem;
  }
}

// @media screen and (min-width: 768px) and (max-width: 1024px)

.navigation-header__container {
  width: 100%;
  display: flex;
  padding-top: 1rem;
  padding-left: 0rem;

  @include tablet {
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 0px;
    padding-right: 3rem;
  }
}

.navigation-header__link {
  font-family: "Helvetica";
  font-weight: lighter;
  // box-shadow: 0 4px 2px -2px rgb(75, 40, 109);
  text-decoration: none;
  background-color: graphite;
  color: $teluspurple;
  // width: 50%;
  text-align: center;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 0.875rem;
  @include tablet {
    min-width: 6.688rem;
    width: 10%;
    margin: 0.688rem;
  }
}
.navigation-header__link:hover {
  background-color: $telusgreen;
  color: $white;
  @include tablet;
}
